AccountabilityAccounting/Service References/DataProviderService/AuthenticationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AuthenticationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AuthenticationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="DbException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DbException" nillable="true" type="tns:DbException" />
</xs:schema>